.bodybg {
  background: url("../assets/image/bg.jpg");

  .dqwz {
    height: 48px;
    line-height: 48px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 25px;

    img {
      padding-right: 5px;
    }

    a {
      color: #8d8d8d;
    }
  }

  .inContent {
    background: #fff;

    .listTlbg {
      display: flex;
    }

    .tyList {
      padding: 25px 30px 20px;

      ul {
        li {
          line-height: 30px;
          background: url(../assets/image/listlibg.jpg) no-repeat left 18px;
          text-indent: 10px;

          a {
            color: #4c4c4c;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
            width: 86%;
          }

          .date {
            float: right;
            color: #999;
            font-size: 14px;
          }
        }
      }
    }
  }
}
